<script type="text/javascript" src="https://widget-prod.bfv.de/widget/widgetresource/widgetjs"></script>

{{/* GLightbox - Moderne Lightbox für Bilder und Videos */}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox@3.3.0/dist/css/glightbox.min.css">
<script src="https://cdn.jsdelivr.net/npm/glightbox@3.3.0/dist/js/glightbox.min.js"></script>

{{/* FullCalendar - Terminkalender */}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css">
