{{ define "main" }}
  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
    {{ .Content }}
  </article>

  {{/* News-Artikel mit category "1.mannschaft" anzeigen */}}
  {{ $related_posts := where site.RegularPages "Section" "news" }}
  {{ $related_posts = where $related_posts ".Params.categories" "intersect" (collections.Slice "1.mannschaft") }}
  {{ $related_posts = $related_posts.ByDate.Reverse }}
  {{ $paginator := .Paginate $related_posts 9 }}

  {{ if $related_posts }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <section class="w-100 mw8">
        <h2 class="f3 fw6 mb3">Aktuelle News zur 1. Mannschaft</h2>
        <div class="fc-news-grid">
          {{ range $paginator.Pages }}
            <div class="fc-news-grid-item">
              {{ .Render "summary-with-image" }}
            </div>
          {{ end }}
        </div>
        {{ template "_internal/pagination.html" . }}
      </section>
    </div>
  {{ end }}
{{ end }}
